{% extends "TnDWWebBundle::layout.html.twig" %}

{% block title %}Distrowatch | {{distrodata.name}}{% endblock %}
{% block selected %}distros{% endblock %}

{% block body %}
<div id="distro">
	<div id="desc-link" class="pagetitle">
		<h2>{{distrodata.name}}</h2>
		<h5>{{distrodata.os_type|lower}}</h5>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
  			$('#contents').scrollToFixed({
				marginTop: 10,
			});
		});
	</script>
	<div id="contents">
		<span id="jumpto">Jump to</span>
		<ul>
			<li><a href="#desc-link">Description</a></li>
			{% if deployable %}
			<li><a href="#deploy">Deploy</a></li>
			{% endif %}
			<li><a href="#technical">Technical</a></li>
			<li><a href="#screenshots">Screenshots</a></li>
			<li><a href="#distro-updates">Updates</a></li>
			<!--<li><a href="#software">Software</a></li>-->
            <li><a href="#country">Origin</a></li>
		</ul>
	</div>

	<div id="description">
		<p>{{distrodata.description}}</p>
	</div>

	<div id="links">
		<ul>
			{% if distrodata.links['homepage'] is defined and distrodata.links['homepage']|length > 0 %}
			<li><a href={{distrodata.links['homepage'][0].href}}>Homepage</a></li>
			{% endif %}
			{% if distrodata.links['download_mirrors'] is defined and distrodata.links['download_mirrors']|length > 0 %}
			<li><a href={{distrodata.links['download_mirrors'][0].href}}>Download</a></li>
			{% endif %}
			{% if distrodata.links['user_forums'] is defined and distrodata.links['user_forums']|length > 0 %}
			<li><a href={{distrodata.links['user_forums'][0].href}}>Forums</a></li>
			{% endif %}
			{% if distrodata.links['documentations'] is defined and distrodata.links['documentations']|length > 0 %}
			<li><a href={{distrodata.links['documentations'][0].href}}>Documentations</a></li>
			{% endif %}
			{% if distrodata.links['mailing_lists'] is defined and distrodata.links['mailing_lists']|length > 0 %}
			<li><a href={{distrodata.links['mailing_lists'][0].href}}>Mailing Lists</a></li>
			{% endif %}
			{% if distrodata.links['bug_trackers'] is defined and distrodata.links['bug_trackers']|length > 0 %}
			<li><a href={{distrodata.links['bug_trackers'][0].href}}>Bug Tracker</a></li>
			{% endif %}
		</ul>
	</div>

	{% if deployable %}
	{% if deployStatus %}
	<div id="deploy">
		<script type="text/javascript">
			$(document).ready(function() {
				$('#vnc').fancybox({
					width : '80%',
					height  : '80%',
					padding : 0,
					helpers : {
						overlay : {
							css : { 'background' : 'rgba(260, 260, 260, 0.75)' }
						}
					},
				});
			});
		</script>
		<h3>Try {{distrodata.name}}</h3>
		<p id="result"></p>
	</div>
	{% else %}
	<div id="deploy">
		<h3>Try {{distrodata.name}}</h3>
		<br />
		<a id="deployBtn">Deploy</a>
		<p id="result"></p>
		<div id="deployInfo">
			<p></p>
		</div>
	</div>
	{% endif %}
	{% endif %}

	<div id="technical">
		<h3>Technical details</h3>
		<div id="status">
			{% if distrodata.status == "Active" %}
			<p>{{distrodata.name | lower}} is being actively developed</p>
			{% else %}
			<p>{{distrodata.name | lower}} is not active anymore</p>
			{% endif %}
		</div>

		<!-- desktops -->
		{% if distrodata.desktops is defined and distrodata.desktops | length > 0 %}
		<h4>{{distrodata.name}} comes with</h4>
		<ul>
		{% for desktop in distrodata.desktops %}
			<li>{{desktop.name | lower}}</li>
		{% endfor %}
		</ul>
		{% endif %}

		<!-- architectures -->
		{% if distrodata.architectures is defined and distrodata.architectures | length > 0 %}
		<hr><br />
		<h4>{{distrodata.name}} runs on</h4>
		<ul>
		{% for architecture in distrodata.architectures %}
			<li>{{architecture.name}}</li>
		{% endfor %}
		</ul>
		{% endif %}

		<!-- categories -->
		{% if distrodata.categories is defined and distrodata.categories | length > 0 %}
		<hr><br />
		<h4>{{distrodata.name}} is suitable for</h4>
		<ul>
		{% for category in distrodata.categories %}
			<li>{{category.name | lower }}</li>
		{% endfor %}
		</ul>
		{% endif %}

		<!-- basedons -->
		{% if distrodata.basedons is defined and distrodata.basedons | length > 0 %}
		<hr><br />
		<h4>{{distrodata.name}} is is based on</h4>
		<ul>
		{% for basedon in distrodata.basedons %}
			<li><a href="{{ path('tndw_web_distro', { 'distro': basedon.shortname}) }}">{{basedon.name}}</a></li>
		{% endfor %}
		</ul>
		{% endif %}

		<!-- inspireds -->
		{% if distrodata.inspireds is defined and distrodata.inspireds | length > 0 %}
		<hr><br />
		<h4>{{distrodata.name}} inspired</h4>
		<ul>
		{% for inspired in distrodata.inspireds %}
			<li><a href="{{ path('tndw_web_distro', { 'distro': inspired.shortname}) }}">{{inspired.name}}</a></li>
		{% endfor %}
		</ul>
		{% endif %}

	</div>


	{% if distrodata.screenshots is defined and distrodata.screenshots | length > 0 %}
	<div id="screenshots">
		<script type="text/javascript">
   			$(document).ready(function() {
   			    $(".screenshot").attr('rel', 'gallery').fancybox({
					padding : 0,
					nextEffect : 'fade',
   				 	prevEffect : 'none',
       				autoCenter : false,
					arrows : false,
					nextClick: true,
					helpers : {
						title: { type: 'outside' },
   					    overlay : {
   				        	css : { 'background' : 'rgba(260, 260, 260, 0.75)' }
   				     	}
   				 	},
					afterLoad : function() {
                    	this.title = '{{distrodata.name}} screen ' + (this.index + 1) + ' of ' + this.group.length;
                	}
				});
   			});
		</script>
		<a class="screenshot" href="{{distrodata.screenshot_default.link | replace({'http://www.chrishaney.com/screenshots/scaled/': 'http://tndw-front.localhost/bundles/tndwweb/directory/', '%': '%25'})}}"><img width="800" alt="screenshot" src="{{distrodata.screenshot_default.link | replace({'http://www.chrishaney.com/screenshots/scaled/': 'http://tndw-front.localhost/bundles/tndwweb/directory/', '%': '%25'})}}" /></a>
		{% for shot in distrodata.screenshots %}
		<a class="screenshot" href="{{shot.link | replace({'http://www.chrishaney.com/screenshots/scaled/': 'http://tndw-front.localhost/bundles/tndwweb/directory/', '%': '%25'})}}"></a>
		{% endfor %}
		<!--
		<div id="more">
			<span>Click to see more screenshots</span>
		</div>
		-->
	</div>
	{% endif %}

	<div id="cols">
		<div id="left">
			<div id="distro-updates">
				<h2>Latest updates</h2>
        		{% for article in news %}
        		    <p class="perex"><b>{{article.title}}</b> {{article.text}} <a class="source" href="{{article.source}}">{{article.source}}</a></p>
        		    <p class="perex"><b>{{article.title}}</b> {{article.text}} <a class="source" href="{{article.source}}">{{article.source}}</a></p>
        		    <p class="perex"><b>{{article.title}}</b> {{article.text}} <a class="source" href="{{article.source}}">{{article.source}}</a></p>
        		    <p class="perex"><b>{{article.title}}</b> {{article.text}} <a class="source" href="{{article.source}}">{{article.source}}</a></p>
        		{% endfor %}
			</div>
		</div>

		<div id="right">
			<h2>Reviews</h2>
			<div id="reviews">
				{% if distrodata.links['reviews'] is defined %}
		        {% for link in distrodata.links['reviews'] %}
					<a href="{{link.href}}">{{link.name}}</a><br/>
		        {% endfor %}
				{% endif %}
		    </div>
			<h2>Related websites</h2>
			<div id="websites">
				{% if distrodata.links['related_websites'] is defined %}
		        {% for link in distrodata.links['related_websites'] %}
					<a href="{{link.href}}">{{link.name}}</a><br/>
		        {% endfor %}
				{% endif %}
		    </div>
		</div>
		<div class="clear"></div>
	</div>

	<!--
	<div id="software">
		<h3>Software</h3>
		<p>TODO</p>
	</div>
	-->

	<h3>Origin</h3>
	<div id="country">
		<p><span class="keyword">{{distrodata.name}}</span> comes from <b>{{distrodata.origin}}</b>.</p>
		{% for countryurl in countryurls %}
            <img src="{{countryurl}}" />
        {% endfor %}
		</div>
	</div>

</div>



<script type="text/javascript">
$(document).ready(function() {
	function waitForMsg(){
        $.ajax({
            type: "POST",
            url: window.location.origin + window.location.pathname + "/isDeployed",
            async: true,
            cache: false,
            timeout: 50000,
            success: function(data){
				if (data.response == 1){
					$("#deploy #result").text('deploying (' + data.message + ')');
                	setTimeout(waitForMsg, 15000);
				} else if (data.response == 0) {
					$("#deployBtn").hide();
					$("#deploy #result").text('');
					$('#deploy #result').append(
						'<table id="#deployInfo">' +
							'<tbody>'+
								'<tr>'+
									'<td>Username</td>'+
									'<td><span onclick="javascript:select_text(this);">' + data.username + '</span></td>'+
								'</tr>'+
								'<tr>'+
									'<td>Password</td>'+
									'<td><span onclick="javascript:select_text(this);">' + data.password + '</span></td>'+
								'</tr>'+
								'<tr>'+
									'<td>IP address</td>'+
									'<td><span onclick="javascript:select_text(this);">' + data.ip + '</span></td>'+
								'</tr>'+
								'<tr>'+
									'<td>VNC host:port</td>'+
									'<td><span onclick="javascript:select_text(this);">' + data.vnc_host + ':' + data.vnc_port + '</span></td>'+
								'</tr>'+
								'<tr>'+
									'<td>VNC password</td>'+
									'<td><span onclick="javascript:select_text(this);">' + data.vnc_password + '</span></td>'+
								'</tr>'+
							'</tbody>'+
						'</table>'+
						'<a id="vnc" data-fancybox-type="iframe" href="' + window.location.origin + window.location.pathname + '/vnc">Connect to VNC</a>'
					);
				} else {
					$("#deploy #result").text('fail');
				}
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
				console.log('err');
                setTimeout(waitForMsg(), 15000);
            }
        });
    };
	function sendMsg(){
		$("#deploy #result").text('sending message');
        $.ajax({
            type: "POST",
            url: window.location.origin + window.location.pathname + "/deploy",
            async: true,
            cache: false,
            timeout: 50000,
            success: function(data){
				$("#deploy #result").text('message sent');
				if (data.response == 0){
					$("#deploy #result").text('waiting for deployment');
					waitForMsg();
				} else if (data.response == -1) {
					$("#deploy #result").text('not logged in');
				} else {
					console.log(data.response)
					$("#deploy #result").text('failed');
				}
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
				console.log(XMLHttpRequest);
                setTimeout(sendMsg(), 15000);
            }
        });
    };
	
	{% if deployStatus %}
	waitForMsg();
	{% else %}
	$("#deployInfo").show();
	$("#deployBtn").click(function() {
		sendMsg();
	});
	{% endif %}

});
</script>

{% endblock %}
