{# Distros page template #}
{% extends "TnDWWebBundle::layout.html.twig" %}

{% block selected %}distros{% endblock %}

{% block body %}
<div id="distros">
    <ul>
        <li>top 100</li>
    </ul>
	<div id="distrolist">
	    <div>
	        <ol>
	            {% for distro in distros %}
	            <li><a href="{{ path('tndw_web_distro', {'distro': distro.shortname}) }}">{{distro.name}}</a></li>
	            {% endfor %}
	        </ol>
	    </div>
	</div>
</div>
<script type="text/javascript">
    function sortDistros() {
    }
</script>
{% endblock %}
