{% extends "TnDWWebBundle::layout.html.twig" %}

{% block body %}
<div id="distrolist">
	<div>
		<ul>
			{% for i in 1..25 %}
			<li>{{i}}. &nbsp;Mint</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<ul>
			{% for i in 1..25 %}
			<li>{{i}}. &nbsp;Mint</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<ul>
			{% for i in 1..25 %}
			<li>{{i}}. &nbsp;Mint</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<ul>
			{% for i in 1..25 %}
			<li>{{i}}. &nbsp;Mint</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}
