/app/logs
/app/logs/dev.log
/app/logs/prod.log
/app/cache
.DS_Store
/src/TnDW/WebBundle/Resources/public/directory
/web/bundles/
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
