{% extends "TnDWWebBundle::layout.html.twig" %}

{% block body %}
<div class="pagetitle">
	<h2>News</h2>
</div>
<div id="news" class="text">
    {% for article in news %}
        <p class="perex"><b>{{article.title}}</b> {{article.text}} <a href="{{article.source}}">{{article.source}}</a></p>
    {% endfor %}
</div>
{% endblock %}
