{% extends "TnDWWebBundle::layout.html.twig" %}

{% block selected %}about{% endblock %}

{% block body %}
<div id="about" class="text">
	<h2>About</h2>
	<p>This project hopes to bring new way to distribute information about various operating systems. Especially multifarious Linux distributions but also other open-source systems. There are so many of them it is not easy to get to know or try out each one. The output of this work is design and implementation of web application which displays information about operating systems on well designed pages. These information come from automatic procedures scanning the inside of operating systems and the internet. Besides displaying information, the website gives a chance for visitors to try out specific operating systems right in their browser. This project is inspired by ideas behind distrowatch.com - a popular website providing updates and rankings of Linux distributions.</p>

	<h3>Documentation</h3>
	<p>Documentation for developers is generated through Doxygen. Both frontend and backend are well-commented. All sources are available from GitHub.</p>
	<div id="docs">
		<a href="https://github.com/jakubzitny/tndw-front">tndw-front at GitHub</a>
		<a href="https://github.com/jakubzitny/tndw-controller">tndw-controller at GitHub</a>
		<a href="https://github.com/jakubzitny/tndw-back">tndw-back at GitHub</a><br />
		<a href="http://admin.thenewdistrowatch.eu/html/">tndw-controller Doxygen documentation</a>
	</div>
	<p>We thank following projects, without them there might be nothing: Django, Redis, phpRedisAdmin, OpenStack, BeeScale, GitHub.</p>

	<h3>Contact</h3>
	<div id="about-contact" class="text">
		<p>Do you want to share something with us?</p>
		<form action="#" method="get">
			<input type="text" placeholder="name" />
			<input type="email" placeholder="e-mail" />
			<br />
			<textarea></textarea>
			<br />
			<input type="submit" value="send e-mail" />
		</form>
	</div>
</div>
{% endblock %}
