{% extends "TnDWWebBundle::layout.html.twig" %}

{% block body %}
<div class="pagetitle">
	<h2>Updates</h2>
</div>
<div id="updates" class="text">
    {% for update in updates %}
        <p class="perex"><b>{{update.title}}</b> {{update.text}} <a href="{{update.source}}">{{update.source}}</a></p>
    {% endfor %}
</div>
{% endblock %}
