{% extends "TnDWWebBundle::layout.html.twig" %}

{% block body %}

<div id="login" class="text">
	<h2>Login</h2>
	{% if error %}
	    <div>{{ error.message }}</div>
	{% endif %}

	<form action="{{ path('login_check') }}" method="post">
		<script type="text/javascript">
			$(document).ready(function() {
				$("#username").focus();
			});
		</script>
		<table>
			<tbody>
				<tr>
					<td>Username</td>
					<td><input type="text" id="username" name="_username" value="{{ last_username }}" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" id="password" name="_password" /></td>
				</tr>
			</tbody>
		</table>
	    <button type="submit">login</button>
	</form>

</div>
    
{% endblock %}
