body {
	background: #f0f0f0;
	color: #252525;
}

#container {
	margin: 5%;
	text-align: center;
}

#distro {
	width: 150px;
	height: 150px;
	border: 1px dashed #000;
	border-radius: 10px;
	margin: 5px;
	display: inline-block;
	z-index: 1;
}

#distro:hover {
	border: 1px solid #000;
}

#distro img {
	height: 150px;
	border-radius: 10px;
	border: 0px;
	opacity:0.4;
	filter:alpha(opacity=40);
}
#distro img[alt] {
    visibility: visible;
}

#footer {
	text-align: center;
}

#footer a {
	color: #252525;
	text-decoration: none;
}

#footer a:hover {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	color: #252525;
	border: 1px solid #252525;
	border-radius: 10px;
	background-color: #fff;
}

